<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="utf-8" />
        <title>badaDevFolio</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" value="Portfolio Website" />
        <meta content="" name="keywords" />
        <meta content="" name="author" />

        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-grid.min.css" rel="stylesheet" type="text/css" />
        <link href="css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css" />
        <link href="css/animate.css" rel="stylesheet" type="text/css" />
        <link href="css/owl.carousel.css" rel="stylesheet" type="text/css" />
        <link href="css/owl.theme.css" rel="stylesheet" type="text/css" />
        <link href="css/owl.transitions.css" rel="stylesheet" type="text/css" />
        <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="css/jquery.countdown.css" rel="stylesheet" type="text/css" />
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/myStyle.css">

        <!-- color scheme -->
        <link id="colors" href="css/colors/scheme-02.css" rel="stylesheet" type="text/css" />
        <link href="css/coloring.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="wrapper">
            <div class="page-overlay">
                <div class="preloader-wrap">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </div>

            <!-- header begin -->
            <header class="transparent scroll-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-between">
                                <div class="align-self-center header-col-left">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="/">
                                            <img src="images/icon/badaDev.png" alt="" class="img-fluid my-logo">
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                                <div class="align-self-center ml-auto header-col-mid">
                                    <!-- mainmenu begin -->
                                    <ul id="mainmenu" class="scrollnav">
                                        <li><a href="/" class="active">Home</a></li>
                                        <li></li>
                                        <li><a href="#section-about">About</a></li>
                                        <li></li>
                                        <li><a href="#section-services">Services</a></li>
                                        <li></li>
                                        <li><a href="#section-portfolio">Portfolio</a></li>
                                        <li></li>
                                        <li><a href="#section-blog">Blog</a></li>
                                        <li></li>
                                        <li><a href="#section-contact">Contact</a></li>
                                        <li></li>
                                        <div class="social-icons d-inline">
                                        <a href="https://web.facebook.com/elhay11" target="blank"><i class="fa fa-facebook fa-lg my-social-icon"></i></a>
                                        <a href="https://twitter.com/elhay01" target="blank"><i class="fa fa-twitter fa-lg my-social-icon"></i></a>
                                        <a href="https://www.instagram.com/_elhay_/" target="blank"><i class="fa fa-instagram fa-lg my-social-icon"></i></a>
                                        <a href="tel: +2349032747894"><i class="fa fa-phone fa-lg my-social-icon"></i></a>
                                    </div>
                                    </ul>

                                    <!-- mainmenu close -->
                                </div>
                                <div class="align-self-center ml-auto header-col-right">

                                    <span id="menu-btn"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- header close -->
            <!-- content begin -->
            <div class="no-bottom no-top text-light" id="content" data-bgcolor="#202020">
                <div id="top"></div>

                <section id="section-hero" class="vertical-center text-light" data-bgimage="url(images/background/background-img.jpg) top" data-stellar-background-ratio=".5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 offset-md-2 text-center">
                                <h4 class="id-color welcome-text">Welcome</h4>
                                <div class="spacer-10"></div>

                                <div class="h1_big text-white">
                                    I am 
                                    <div class="typed-strings">
                                        <p>a Developer</p>
                                        <p>a Learner</p>
                                        <p>a Coach</p>
                                        <p>Nurudeen O. Bada</p>
                                    </div>
                                    <div class="typed"></div>
                                </div>
                            </div>

                            <div class="spacer-30"></div>

                            <div class="col-md-6 offset-md-3 text-center">
                                <div class="spacer-20"></div>
                                <a class="btn-custom scroll-to wow fadeInUp my-button" data-wow-delay="1s" href="#section-about">About Me</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="section-about" data-bgcolor="#202020">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-sm-30 text-center">
                                <div class="de-images">
                                    <!-- <img class="di-small-2 wow fadeInLeft" src="images/misc/profile2.jpg" alt="" /> -->
                                    <img class="img-fluid wow fadeInRight my-profileImg" src="images/misc/profileImg.jpg" alt="" />
                                </div>
                            </div>

                            <div class="col-lg-5 offset-md-1 wow fadeInLeft" data-wow-delay=".5s">
                                <h2>About Me</h2>
                                <div>
                                    <h6>Hi there! I am Nurudeen Olanrewaju Bada</h6>
                                    <p>
                                        A coding enthusiast, a digital marketer and a Coach. I am a Web Developer with React.js, Redux, Express.js, 
                                        Node.js, and MongoDB as my tech stack.
                                    </p>
                                    <p>
                                        I was introduced to the world of Computer Programming in 2019, the idea of becoming a builder and
                                        not a user was fascinating and it felt like i finally found where I belong. I decided to change careers so 
                                        I took up some online courses to teach myself the basics of computer programming then later went for a coding bootcamp.
                                    </p>
                                    <p>
                                        Presently I work with a group of developers at <a href="https://www.jbitss.com" target="_blank">Jbitss Tech</a>
                                        creating different types of Web Apps for our satisfied clients.<br />  
                                        My goal is always driven towards providing amazing experience with the best level of quality and service 
                                        to them.
                                    </p>
                                    <p>
                                        Along with that, I also help people as a COACH on their journey to becoming a professional web developer or an expert digital marketer. 
                                        I love learning about new technologies in the tech world and also new investment strategies used by top marketers in the marketing niche.
                                        I love what I do and I always do what my clients love.
                                    </p>
                                </div>
                                <div class="spacer-10"></div>
                                <span id="btn-show-skills" class="btn-border wow fadeInUp my-skills-btn" data-wow-delay="1s">Show My Skills</span>
                            </div>
                        </div>

                        <div id="skills" class="row">
                            <div class="spacer-double"></div>
                            <div class="spacer-double"></div>
                            <div class="col-md-4">
                                <div class="skill-bar style-2">
                                    <h5>React</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="70%"></div>
                                    </div>
                                </div>

                                <div class="skill-bar style-2">
                                    <h5>Nodejs</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="60%"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="skill-bar style-2">
                                    <h5>Expressjs</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="60%"></div>
                                    </div>
                                </div>

                                <div class="skill-bar style-2">
                                    <h5>Marketing</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="75%"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="skill-bar style-2">
                                    <h5>Coaching</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="90%"></div>
                                    </div>
                                </div>

                                <div class="skill-bar style-2">
                                    <h5>SEO</h5>
                                    <div class="de-progress">
                                        <div class="value"></div>
                                        <div class="progress-bar" data-value="75%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="section-services" data-bgcolor="#252525">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="text-center">
                                    <h2>Services</h2>
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
                                    <div class="spacer-30"></div> 
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay="0s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-laptop id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>Website Design/Development</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".25s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-paper-plane-o id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>Digital Marketing</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".5s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-user id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>Coaching</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay="0s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-object-group id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>Graphics Design</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".25s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-hdd-o id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>Cloud Hosting</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".5s">
                                <div class="f-box f-icon-left f-icon-circle f-border">
                                    <i class="fa fa-comments-o id-color my-fontawesome"></i>
                                    <div class="fb-text">
                                        <h4>IT Consultancy</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="section-cta" class="text-light" data-bgimage="url(images/background/background-img2.jpg) top" data-stellar-background-ratio=".5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 offset-md-2 text-center">
                                <h2>I Am Available For Freelancing</h2>
                                <div class="spacer-10"></div>
                                <a href="#section-contact" class="btn-custom my-button">Hire Me Now</a>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- section begin -->
                <section id="section-testimonial" class="custom-1" data-bgcolor="#252525">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="text-center">
                                    <h2>Testimonials</h2>
                                    <p>What some of my clients said</p>
                                    <div class="spacer-30"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 offset-md-2">
                                <div id="testimonial-carousel-single" class="owl-carousel owl-theme wow fadeInUp">
                                    <blockquote class="testimonial-big text-light">
                                        <img src="Images/people/testimonial1.jpeg" alt="" />
                                        Working with Bada has been a most lovely encounter! 
                                        His devotion and enthusiasm for what he does is exemplified 
                                        by his unparalleled client assistance and mindfulness to the 
                                        particular necessities of our business. We anticipate an enduring 
                                        and prosperous relationship with him.

                                        <span class="name">Araola, Balogun</span>
                                    </blockquote>

                                    <blockquote class="testimonial-big text-light">
                                        <img src="Images/people/testimonial2.jpeg" alt="" />
                                        My new site made by Bada and his group just launched. 
                                        They've worked really hard of making precisely what I needed. 
                                        Simple to work with and exceptionally responsive. They met the 
                                        entirety of my assumptions and had a great deal of understanding 
                                        in regards to showcasing instruments I didn't know existed.

                                        <span class="name">Sandra, Ikechukwu</span>
                                    </blockquote>

                                    <blockquote class="testimonial-big text-light">
                                        <img src="Images/people/testimonial3.jpeg" alt="" />
                                        I would enthusiastically suggest Bada and his group. They are extraordinary to work with.

                                        <span class="name">Michael, Akintunde</span>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section close -->

                <!-- section begin -->
                <section id="section-portfolio" data-bgcolor="#202020">
                    <div class="container">
                        <!-- portfolio filter begin -->
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h5><span class="id-color welcome-text">Portfolio</span></h5>
                                <h2>I Love What I Do</h2>
                            </div>                          
                            <div class="spacer-single"></div>

                            <div class="col-md-12 text-center">
                                

                                <div id="gallery" class="gallery full-gallery de-gallery pf_full_width pf_3_cols grid sequence">
                                    <!-- gallery item -->
                                    <div class="item illustration website gallery-item" data-value="project-details-image.html">
                                        <div class="picframe wow">
                                            <span class="overlay">
                                                <span class="pf_text">
                                                    <span class="project-name">Quiz App</span>
                                                </span>
                                            </span>

                                            <img src="images/portfolio-2/quiz-app.jpg" class="img-fluid" alt="" />
                                        </div>

                                        <!-- modal -->
                                         <!-- Trigger the modal with a button --> 
                                        <p type="button" class="mt-2 my-modal-button" data-toggle="modal" data-target="#myModal">Project Details</p>
                                        <!-- Modal --> 
                                        <div id="myModal" class="modal fade" role="dialog"> 
                                            <div class="modal-dialog">
                                            <!-- Modal content--> 
                                                <div class="modal-content"> 
                                                    <div class="modal-header"> 
                                                        <h5 class="modal-title text-muted">Project Details</h5> 
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button> 
                                                    </div> 
                                                    <div class="modal-body"> 
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="text-muted">
                                                                    <p class="text-muted">This is a Quiz App created with React, users can take the quiz from any subject
                                                                    get their scores at the end of each quiz</p>
                                                                    <strong class="text-muted">Features:</strong>
                                                                    <ul class="pt-1">
                                                                        <li>Indicates a correct or wrong answer immediately the user
                                                                            chooses an option
                                                                        </li>
                                                                        <li>Displays the final score at the end of the quiz</li>
                                                                    </ul>
                                                                    <span>Status:</span> <span>Not Live</span>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                    <div class="modal-footer"> 
                                                        <button type="button" class="btn btn-default text-muted" data-dismiss="modal"> Close</button> 
                                                    </div> 
                                                </div>
                                            </div> 
                                        </div>
                                        <!-- modal close -->
                                    </div>
                                    <!-- close gallery item -->

                                    <!-- gallery item -->
                                    <div class="item photography gallery-item" data-value="project-details-slider.html">
                                        <div class="picframe wow">
                                            <span class="overlay">
                                                <span class="pf_text">
                                                    <span class="project-name">Onidiri Mobile Salon</span>
                                                </span>
                                            </span>
                                            <img src="images/portfolio-2/onidiri.jpg" class="img-fluid" alt="" />
                                        </div>
                                        
                                         <!-- modal -->
                                         <!-- Trigger the modal with a button --> 
                                         <p type="button" class="mt-2 my-modal-button" data-toggle="modal" data-target="#myModal-2">Project Details</p>
                                         <!-- Modal --> 
                                         <div id="myModal-2" class="modal fade" role="dialog"> 
                                             <div class="modal-dialog">
                                             <!-- Modal content--> 
                                                 <div class="modal-content"> 
                                                     <div class="modal-header"> 
                                                         <h5 class="modal-title text-muted">Project Details</h5> 
                                                         <button type="button" class="close" data-dismiss="modal">&times;</button> 
                                                     </div> 
                                                     <div class="modal-body"> 
                                                         <div class="container-fluid">
                                                             <div class="row">
                                                                 <div class="text-muted">
                                                                     <p class="text-muted">This is a mobile hair salon website created with Express js</p>
                                                                     <strong class="text-muted">Features:</strong>
                                                                     <ul>
                                                                     <li>It allows users to book appointment for hair care services
                                                                     </li>
                                                                     <li>Users can also send messages directly to the admin through a contact form</li>
                                                                     </ul>
                                                                     <span>Status:</span> <span>Not Live</span>
                                                                 </div>
                                                             </div>
                                                         </div> 
                                                     </div>
                                                     <div class="modal-footer"> 
                                                         <button type="button" class="btn btn-default text-muted" data-dismiss="modal"> Close</button> 
                                                     </div> 
                                                 </div>
                                             </div> 
                                         </div>
                                         <!-- modal close -->
                                    </div>
                                    <!-- close gallery item -->

                                    <!-- gallery item -->
                                    <div class="item illustration gallery-item" data-value="project-details-youtube.html">
                                        <div class="picframe wow">
                                            <span class="overlay">
                                                <span class="pf_text">
                                                    <span class="project-name">Victoria Gold FOundation</span>
                                                </span>
                                            </span>
                                            <img src="images/portfolio-2/vgf.jpg" class="img-fluid" alt="" />
                                        </div>

                                         <!-- modal -->
                                         <!-- Trigger the modal with a button --> 
                                         <p type="button" class="mt-2 my-modal-button" data-toggle="modal" data-target="#myModal-3">Project Details</p>
                                         <!-- Modal --> 
                                         <div id="myModal-3" class="modal fade" role="dialog"> 
                                             <div class="modal-dialog">
                                             <!-- Modal content--> 
                                                 <div class="modal-content"> 
                                                     <div class="modal-header"> 
                                                         <h5 class="modal-title text-muted">Project Details</h5> 
                                                         <button type="button" class="close" data-dismiss="modal">&times;</button> 
                                                     </div> 
                                                     <div class="modal-body"> 
                                                         <div class="container-fluid">
                                                             <div class="row">
                                                                 <div class="text-muted">
                                                                     <p class="text-muted">This is a website created for a charity organization</p>
                                                                     <strong class="text-muted">Features:</strong>
                                                                     <ul>
                                                                        <li>
                                                                            Functional payment gateway
                                                                        </li>
                                                                        <li>
                                                                            Empowerment form
                                                                        </li>
                                                                        <li>
                                                                            Contact form
                                                                        </li>
                                                                        <li>
                                                                            Blog
                                                                        </li>
                                                                     </ul>
                                                                     <span>Status:</span> <a href="https://www.victoriagoldfoundation.com" class="text-info">Live</a>
                                                                 </div>
                                                             </div>
                                                         </div> 
                                                     </div>
                                                     <div class="modal-footer"> 
                                                         <button type="button" class="btn btn-default text-muted" data-dismiss="modal"> Close</button> 
                                                     </div> 
                                                 </div>
                                             </div> 
                                         </div>
                                         <!-- modal close -->
                                    </div>
                                    <!-- close gallery item -->
                                </div>
                            </div>
                            <!-- portfolio filter close -->
                        </div>
                    </div>
                </section>
                <!-- section close -->

                <div id="loader-area" data-bgcolor="#202020">
                    <div class="container">
                        <div class="project-load"></div>
                    </div>
                </div>

                <!-- section begin -->
                <section id="section-contact" data-bgcolor="#202020">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3">
                                <div class="text-center">
                                    <h2>Contact Us</h2>
                                    <p>For all enquiries, please send an email</p>
                                    <div class="spacer-30"></div>
                                </div>
                            </div>
                        </div>

                        <form id="contact_form" class="row form-default form-dark" method="post" action="/contact">
                            <div class="col-md-6">
                                <div class="field-set">
                                    <input type="text" name="name" id="name" class="form-control myform" placeholder="Your Name" />
                                    <div class="line-fx"></div>
                                </div>

                                <div class="field-set">
                                    <input type="text" name="email" id="email" class="form-control myform" placeholder="Your Email" />
                                    <div class="line-fx"></div>
                                </div>

                                <div class="field-set">
                                    <input type="text" name="phone" id="phone" class="form-control myform" placeholder="Your Phone" />
                                    <div class="line-fx"></div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <textarea name="message" id="message" class="form-control myform" placeholder="Your Message"></textarea>
                                    <div class="line-fx"></div>
                                </div>
                            </div>

                            <div class="spacer-single"></div>

                            <div class="col-md-12 text-center">
                                <div id="submit">
                                    <button id="btn-contact" class="my-button btn btn-custom color-2">Send Message</button>
                                    {{! <input type="submit" id="send_message" value="Submit Form" class="my-button btn btn-custom color-2" /> }}
                                </div>
                                <div id="mail_success" class="success">Your message has been sent successfully.</div>
                                <div id="mail_fail" class="error">Sorry, error occured this time sending your message.</div>
                            </div>
                        </form>

                        <div class="spacer-double"></div>
                    </div>
                </section>
            </div>
            <!-- content close -->

            <!-- footer begin -->
            <footer class="dark">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 sm-text-center mb-sm-30">
                            &copy; <script>document.write(new Date().getFullYear())</script> - Nurudeen O. Bada
                        </div>

                        <div class="col-md-6 text-md-right text-sm-left">
                            <div class="social-icons">
                                <a href="https://web.facebook.com/elhay11" target="blank"><i class="fa fa-facebook fa-lg my-social-icon"></i></a>
                                <a href="https://twitter.com/elhay01" target="blank"><i class="fa fa-twitter fa-lg my-social-icon"></i></a>
                                <a href="https://www.instagram.com/_elhay_/" target="blank"><i class="fa fa-instagram fa-lg my-social-icon"></i></a>
                                <a href="tel: +2349032747894"><i class="fa fa-phone fa-lg my-social-icon"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer close -->

            <a href="#" id="back-to-top" class="my-button"></a>

            <div id="preloader">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>

        

        <!-- Javascript Files
    ================================================== -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.isotope.min.js"></script>
        <script src="js/easing.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script src="js/validation.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/enquire.min.js"></script>
        <script src="js/jquery.stellar.min.js"></script>
        <script src="js/jquery.plugin.js"></script>
        <script src="js/typed.js"></script>
        <script src="js/typed-custom.js"></script>
        <script src="js/jquery.countTo.js"></script>
        <script src="js/jquery.countdown.js"></script>
        <script src="js/designesia.js"></script>

        <script>

            (function () {
                //console.log('Hello')

                $('#btn-contact').click(function(event) {
                    if (event)
                    event.preventDefault()

                    var contact = {
                        name: $('#name').val(),
                        email: $('#email').val(),
                        phone: $('#phone').val(),
                        message: $('#message').val()
                    }

                    //console.log('Message sent successfully' + JSON.stringify(contact))
                        $.ajax({
                            url: '/contact',
                            method: 'post',
                            data: contact,
                            success: function(resp){
                                $('#btn-contact').html('<button class="my-button btn btn-custom color-2">Message Sent</button>')
                            },
                            error: function(resp) {

                            }

                        })
                })
            })()
        
        </script>
    </body>
</html>

